<div>
    <h1>¡Bienvenido {{name}} {{lastname}}!</h1>
    <p>Tus datos ingresados son los siguientes:</p>
    <ul>
        <li>edad: {{age}}</li>
        <li>correo electrónico: {{email}}</li>
        <li>teléfono: {{telefono}}</li>
    </ul>
</div>